
header {
  color: white;
}

body {
  background-color: #130038;
}
#bio {
  background-color: #feffb7;
}
#education {
  background-color: #e8e4ac;
}
#jobexp {
  background-color: #fff7c9;
}
#goals {
  background-color: #e8dfbf;
}
#travel {
  background-color: #ffefc9;
}
