
header {
  color: white;
}

body {
  background-color: #130038;
}
#bio {
  background-color: #DFCEFF;
}
#education {
  background-color: #FFFCCE;
}
#jobexp {
  background-color: #EDCDFF;
}
#goals {
  background-color: #DBD785;
}
#travel {
  background-color: #F0E7FF
}
